body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-110px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:150px;
  width:600px;
  height:320px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:60px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:151px;
  width:598px;
  height:60px;
  font-size:20px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:594px;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:375px;
  width:310px;
  height:45px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:240px;
  width:310px;
  height:40px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:240px;
  width:80px;
  height:40px;
  font-size:16px;
  text-align:right;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:300px;
  width:310px;
  height:40px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:300px;
  width:80px;
  height:40px;
  font-size:16px;
  text-align:right;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
